@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cutive+Mono&family=Gruppo&family=Poiret+One&family=Righteous&family=Share+Tech+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Share Tech Mono', monospace;
}

nav ul{
    z-index: 1;

    list-style: none;

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    position: fixed;
    background-color: white;
    height: 2rem;
    width: 100%;

    
    

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.151);

   

}

nav ul a{
    color: #a3a3a3;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Share Tech Mono', monospace;
}
nav ul a:hover{
    color: #0395FF;
    transition: 0.5s;
    text-shadow: 0px 0px 3px #4fa0da;
}

section{
    min-height: 100vh;
    padding-top: 3rem;

}

#sobre{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contatos{
    background-color: rgb(255, 255, 255);
   
}


#projetos  h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    color: #0395FF;
    text-shadow: 0px 2px 5px #00b7ffd5; 
    font-family: 'Share Tech Mono', monospace;   
}
#contatos  h1{
    text-align: center;
    margin-bottom: 10%;
    font-size: 20px;
    color: #0395FF;
    text-shadow: 0px 2px 5px #00b7ffd5; 
    font-family: 'Share Tech Mono', monospace;   
}

#projetos button{
    margin: 20px auto;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    background-color: white;
    color: #808080;
    border:2px solid #0395FF;
    border-radius: 6px;
    width: 150px;
    transition: all .4s ease;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
}

#projetos button:hover{
    transition: all 0.4s ease;
    border-radius: 200px;
    
    color: #0395FF;
    text-shadow: 0px 0px 1px #00b7ffd5; 
    filter: grayscale(0);
    width: 180px;
    
}

#projetos button img{
    width: 22px;
}

#projetos a{
    text-decoration: none;
}

#projetos button img{
    filter: grayscale(100);
    transition: all 0.3s;
}

#projetos button:hover img{
    filter: grayscale(0);
    transition: all 0.4s ease;
}

/* .img-dev{
    width: 400px;
} */
.info-dev h1{
    font-size: 50px;
    color: #0395FF;
    text-shadow: 0px 2px 5px #00b7ffd5; 
    font-family: 'Share Tech Mono', monospace;   
}


.info-dev h5{
    font-size: 20px;
    color: #808080;
    width: 280px;
    font-family: 'Share Tech Mono', monospace;
}

.botoes-info{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.info-dev button{
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    background-color: white;
    color: #808080;
    border:2px solid #0395FF;
    border-radius: 6px;
    width: 150px;
    transition: all .4s ease;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
}

.info-dev button:hover{
    transition: all 0.4s ease;
    border-radius: 200px;
    
    color: #0395FF;
    text-shadow: 0px 0px 1px #00b7ffd5; 
    filter: grayscale(0);
    width: 180px;
    
}

.info-dev a{
    text-decoration: none;
}

#botao-2{
    height: 36px;
}


.img-link{
    padding: 2px 0;
}

.info-dev button img{
    filter: grayscale(100);
    transition: all 0.3s;
}

.info-dev button:hover img{
    filter: grayscale(0);
    transition: all 0.4s ease;
}



.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
  }
  
  #img-flutuante {
    position: absolute; 
    /* top: 40%;  */
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
  }

.img-portfolio img{
    
    width: 350px;
    height: 200px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    filter: grayscale(100);
    transition: all 0.5s;
    object-fit: cover;
    box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.329);
  }

  .img-portfolio img:hover{
   
    
    border-radius: 30px;
    
    filter: grayscale(0) saturate(1);
    transition: all 0.5s;

  }
.grid-portfolio{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;

}

.img-portfolio p{
    margin-top: 10px;
    text-align: center;
    color: #8a8a8a;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    position: relative;
   text-decoration: none;  
    
}

.img-portfolio p:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    top: 20px;
    left: 0;
    background-color: #0395FF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    
  }

  .img-portfolio:hover p:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.img-portfolio:hover p{
    transition: all 0.5s;
    color: #0395FF;

}
  



h5 {
    font-size: 90px;
    
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2.6s steps(30)  alternate,
      blink 500ms steps(13)  infinite normal;
    border-right: 3px solid black;
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 280px;
    }
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
  }

  .icon-contatos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100px;
    
  }

  .icon-contatos img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    filter: grayscale(100) ;
    transition: all 0.6s;
    
  }

  .icon-contatos img:hover{
    width: 60px;
    height: 60px;
    transition: all 0.6s;
    filter: grayscale(0);
    
  }

.nome-final h6{
    margin-top: 200px;
    border-top: 1px solid #a3a3a3;
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    padding: 50px;
  }


  footer{
    
    width: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    top: 500px;
  }

 .contato{
    display: flex;
    flex-direction: column;
 }

 h6{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
 }


 @media screen and (max-width: 830px){
    #sobre{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container img{
        width: 10px;
    }

    h5{
      margin: 0 auto;
    }
 }
